<!--
  Used for visualising rplidar in action.

  It requires rplidar.launch.
 -->
<launch>
  <!--include file="$(find ians_mapping)/launch/rplidar.launch" /-->
  <include file="$(find ians_mapping)/launch/hectormapping.launch" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ians_mapping)/rviz/slam.rviz" />
</launch>
