<launch>

	<!-- Standup map server -->
	<arg name="map_file" default="$(find ians_mapping)/maps_baskin/baskin_1.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args"$(arg map_file)"/>

	<!-- dont need next line. if bugs come up, uncomment next line, and change global_costmap_param to odom frame-->
	<!--
		<node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 map odom 100"/>
	-->

	<!-- Standup Localization -->
	<node pkg="amcl" type="amcl" name="amcl" output="screen">
		
		<param name="odom_frame_id" value="odom"/>
		<param name="odom_model_type" value="diff-corrected"/>
		<param name="base_frame_id" value="base_link"/>
		<param name="update_min_d" value="0.2"/> <!-- translational movement req. before performing a filter update-->
		<param name="update_min_a" value="0.523"/> <!-- rot mov req before filter update, default 0.523-->
	</node>


